.button{
  background-color: green;
  color: white;
  padding: 15px 30px;
  text-align: center;
  font-size: 23px;
  border: none;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;


}
body {
  background-image: url('https://png.pngtree.com/background/20230618/original/pngtree-3d-dice-roll-in-action-picture-image_3758987.jpg');
  background-size: cover; /* Ensure the background image covers the entire screen */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  /* You can also add more styling here if needed */
}
